* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.footer {
    height: 100vh;
    background: rgb(5, 5, 58);
}

.footer--container {
    display: flex;
    justify-content: space-evenly;
    padding: 70px 100px;
    color: wheat;
}

.footer--1 .about h1 {
    font-size: 42px;
    font-weight: bold;
    padding-bottom: 30px
}

.footer--1 .about p {
    padding-right: 180px;
    font-size: 18px;
}

.foot {
    display: flex;
}

.footer--2 .resources {
    width: 300px;
}

.footer--2 .resources h1 {
    padding-bottom: 30px;
}

.footer--2 .resources li {
    list-style-type: square;
    color: rgb(199, 26, 26);
    font-size: 25px;
}

.footer--2 .resources p {
    font-size: 16px;
    padding-bottom: 12px;
    color: wheat;
}

.footer--2 .resources p:hover {
    color: red;
}

.footer--3 .address {
    padding-left: 100px;
    width: 400px;
}

.footer--3 .address h1 {
    padding-bottom: 30px;
}

.footer--3 .address p {
    font-size: 16px;
    padding-bottom: 15px;
}

.location,
.phone,
.mail,
.work {
    display: flex;
}

.location i,
.phone i,
.mail i,
.work i {
    padding-top: 4px;
    padding-right: 7px;
}

.move:hover {
    position: relative;
    animation: move 1s ease-in;
    color: red;
}

@keyframes move {
    0% {
        left: 5px
    }

    50% {
        left: 2.5px
    }

    75% {
        left: 1px;
    }

    100% {
        left: 0px
    }
}

.fa-brands {
    margin: 10px;
    padding: 10px;
    background: rgb(85, 85, 173);
}

.fa-brands:hover {
    background: rgba(253, 1, 1, 0.6);
}

hr {
    width: 90%;
    margin-left: 65px;
    margin-top: 100px;
}

.footer--footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 90px 0 90px;
}

.foo--2 {
    text-align: center;
    padding-bottom: 10px;
}

.foo--1 span {
    color: rgb(253, 1, 1);
}

/* -------------- Responsive Design ---------------- */
@media (max-width: 880px) {
    .footer--2 .resources {
        padding-right: 40px;
    }

    .footer--3 .address {
        padding-right: 50px;
    }
}

@media (max-width: 1260px) {
    .footer {
        height: 115vh;
    }

    .footer--container {
        flex-wrap: wrap;
        padding: 70px 30px;
        padding-bottom: 10px;
    }

    .footer--1 .about {
        padding-bottom: 50px;

    }

    .footer--1 .about p {
        font-size: 18px;
    }

    hr {
        width: 90%;
        margin-top: 110px;
        margin-left: 39px;
    }

    .footer--2 .resources {
        margin-right: 100px;
    }

    .footer--footer {
        padding: 20px 90px 0 90px;
    }

    .foo--2 {
        text-align: center;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        height: 100%;
    }

    .footer--container {
        display: block;
        padding: 70px 30px;
    }

    .foot {
        display: block;
    }

    .footer--1 {
        margin-bottom: 30px;
    }

    .footer--1 .about h1,
    .footer--2 .resources h1 {
        padding-bottom: 15px;
    }

    .footer--2 .resources li {
        margin-left: 30px;
    }

    .footer--3 .address {
        padding-left: 0px;
        margin-top: 30px;
    }

    .move:hover {
        position: relative;
        animation: move 1s ease-in;
        color: red;
    }

    @keyframes move {
        0% {
            left: 8px
        }

        50% {
            left: 4px
        }

        75% {
            left: 2px;
        }

        100% {
            left: 0px
        }
    }

    hr {
        width: 90%;
        margin-top: 110px;
        margin-left: 25px;
    }

    .footer--footer {
        display: block;
    }

    .foo--1 {
        text-align: center;
        margin-bottom: 10px;
    }

    .foo--2 {
        text-align: center;
        padding-bottom: 50px;
    }
}